<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <!--<link rel="stylesheet" href="/static/canvas/css/canvas.css" />-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>miniEDA</title>
    <script>
        // Variable from FastAPI, Ignore the error occurred below line.
        window.data = {{ diagram | tojson }};
      </script>
      <script type="module" src="/static/canvas/js/index.js"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <div class="sidebar">
        <a href="/">Upload File</a>
        <a href="/data_preview">Data Preview</a>
        <a href="/rename_columns">Data Columns Rename</a>
        <a href="/type_casting">Data Type Casting</a>
        <a href="/fill_interpolation">Data Interpolation</a>
        <a href="/filter_data">Data Filtering</a>
        <a href="/export_csv" target="_blank">Export CSV</a>
    </div>
    
    <div class="main-content">
        <!-- <div class="workflow">
            <div class="controller-panel">
                <header id="controller-panel-header">
                  <button id="run-task">▶</button>
                  <button id="create-node">+</button>
                </header>
                <div class="h-divider"></div>
                <div id="controller-panel-body"></div>
              </div>
              <div class="canvas-container">
                <div id="diagram-canvas" class="mermaid"></div>
              </div>
        </div>
         -->
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>

    <!-- Optional: Bootstrap JS and other scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
