{% extends "base.html" %}

{% block content %}
<h1>Data Preview</h1>

<h2>Data Head</h2>
<div>
    {{ df_head | safe }}
</div>

<h2>Data Shape</h2>
<div>
    <table class="table table-striped">
        <tr>
            <th>Rows</th>
            <td>{{ df_shape[0] }}</td>
        </tr>
        <tr>
            <th>Columns</th>
            <td>{{ df_shape[1] }}</td>
        </tr>
    </table>
</div>

<h2>Missing Values (NaN)</h2>
<div>
    {{ df_isna | safe }}
</div>

<h2>Data Types</h2>
<div>
    {{ df_dtypes | safe }}
</div>
{% endblock %}
