{% extends "base.html" %}

{% block content %}
<h1>Fill Interpolation</h1>
<form action="/fill_interpolation" method="post">
    <label for="column">Select Column:</label>
    <select id="column" name="column">
        <option value="__all__">전체 선택</option>
        {% for col in columns %}
        <option value="{{ col }}">{{ col }}</option>
        {% endfor %}
    </select><br>
    
    <label for="fill_null">보간방법 선택:</label>
    <select id="fill_null" name="fill_null">
        {% for fill in fill_option %}
        <option value="{{ fill }}">{{ fill }}</option>
        {% endfor %}
    </select><br>
    
    <button type="submit">Apply</button>
</form>
{% endblock %}
