{% extends "base.html" %}

{% block content %}
<h1>Upload File</h1>
<img src="/static/data_overview.png" alt="Data Overview" width="600px">
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" required><br>
    <div class="checkbox-container">
        <input type="checkbox" id="csv_header" name="csv_header" value="true">
        <label for="csv_header">CSV header</label>
        <input type="checkbox" id="csv_index" name="csv_index" value="true">
        <label for="csv_index">CSV index</label>
    </div>
    <button type="submit">Upload</button>
</form>
{% endblock %}
